html {
  background-color: rgb(224, 236, 239);
}

nav {
  background-color: rgb(24, 24, 79);
  padding: 20px;
  position: sticky;
  top: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.testo {
  color: black;
  background-color: lightblue;
  border: 2px solid rgb(48, 106, 212);
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
}

.titolo {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: white;
  background-color: black;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
  color: rgb(48, 106, 212);
  background-color: lightblue;
}

.link2 {
  display: flex;
}

.link2:hover {
  border: 2px solid blue;
}
