.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Di seguito le classi nella nav */

.logo {
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;

  padding: 0.5rem;
}

.logo-img {
  height: 2.5rem;
}

.nav-link {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(50, 50, 6602, 0.5);
}

/*  */
